@import url(//db.onlinewebfonts.com/c/ee492a792086411f7b10a6d406c053d2?family=HelionW00-Regular);

* {
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	outline: none;
}

body {
	font-size: 16px;
}

.bg-gray-100 {
	background-color: #eee;
}

.bg-gray-200 {
	background-color: #ddd;
}

.bg-yellow-100 {
	background-color: #e9ecef;
	color: #444;
}

.bg-yellow-100:hover {
	background-color: #fff15b;
	background: #fff15b; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#ffffff,
		#fff15b
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#ffffff,
		#fff15b
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-shadow {
	-webkit-box-shadow: #0000004d 1px 2px 8px 2px;
	-moz-box-shadow: #0000004d 1px 2px 8px 2px;
	box-shadow: #0000004d 1px 2px 8px 2px;
}

.helion-font {
	color: #dc3545;
	font-family: HelionW00-Regular;
	font-size: 36px;
}

/* ! -----  Para todas las páginas */

#nav-container .disabled {
	font-style: italic;
	color: #aaa !important;
}

#nav-container .navbar-nav li > a {
	padding: 0 15px;
	text-transform: unset;
	color: #555;
	border-radius: 50%;
	transition: background-color 0.7s, color 0.5s;
}

#nav-container .navbar-nav li > a:hover,
#nav-container .navbar-nav li > a:focus {
	position: relative;
	top: -2px;
	/* background-color: #04744e; */
	color: #dc3545;
}

#nav-container .navbar-nav li.active > a {
	background-color: #dc3545;
	border-radius: 50%;
	color: #fff;
}

#nav-container .navbar-nav .dropdown .dropdown-menu a:hover {
	position: relative;
	top: -2px;
	background-color: #fff;
	color: #dc3545;
}

.grow {
	transition: all 0.3s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}

.image-contain {
	object-fit: contain;
}

/* ! -----  index.html */

.market-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.market {
	width: 95%;
	max-width: 1280px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"market-item market-item market-promo1"
		"market-item market-item market-promo2";
	align-content: center;
}

.market-ecomerce {
	width: 95%;
	max-width: 1280px;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "market-mercado market-ita";
	align-content: center;
}

.market-item {
	height: auto;
	grid-area: market-item;
	border: 2px solid #66a6ff !important;
}

.market-promo1 {
	grid-area: market-promo1;
	border: 2px solid #66a6ff !important;
}

.market-promo2 {
	grid-area: market-promo2;
	background-image: linear-gradient(120deg, #89f7fe, #66a6ff) !important;
	border: 2px solid #66a6ff !important;
}

.market-mercado {
	grid-area: market-mercado;
	padding: 5px;
	background: #fdf493 !important;
	border: 2px solid #f7df03 !important;

	display: flex;
	justify-content: center;
	align-items: center;
}

.market-amazon {
	grid-area: market-amazon;
	padding: 5px;
	background: #233448 !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.market-ita {
	grid-area: market-ita;
	padding: 5px;
	background: #fff !important;
	border: 2px solid #66a6ff !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.market-main {
	grid-area: market-main;
}

.market-item,
.market-promo1,
.market-promo2,
.market-mercado,
.market-amazon,
.market-ita {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}
.market-discount {
	padding: 7px;
	background: #dc3545;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 0 20px 20px 0;
	position: relative;
	top: 5%;
	left: -25%;
}
.promotion_image {
	height: auto;
	object-fit: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.promotion-description {
	padding: 3px;
	color: #555;
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	position: relative;
}

.carousel-image {
	width: 650px;
	height: auto;
	object-fit: contain;
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.075) !important;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	backdrop-filter: blur(20);
}

.carousel-caption h1 {
	color: #4875b4;
	text-shadow: 2px 2px 1px #eee;
}

/* ! baja.html y media. */
.hero-baja {
	height: 75vh;
	margin: 0;
	/* display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	clip-path: polygon(85% 85%, 100% 15%, 100% 100%, 15% 100%); */
}

.bg1,
.bg2 {
	width: 100%;
	height: 75%;
	position: absolute;
}

.bg1 {
	-webkit-clip-path: polygon(82% 77%, 100% 15%, 100% 100%, -71% 100%);
	clip-path: polygon(82% 77%, 100% 15%, 100% 100%, -71% 100%);
	z-index: -1;
	/* background-color: #226dbc; */
}

.bg2 {
	-webkit-clip-path: polygon(80% 70%, 100% 9%, 100% 100%, -72% 100%);
	clip-path: polygon(80% 70%, 100% 9%, 100% 100%, -72% 100%);
	z-index: -2;
	/* background-color: #2a5f98; */
}

.hero-container {
	display: grid;
	grid-template-columns: 50% auto;
	height: auto;
	justify-content: center;
	align-self: center;
	margin: 0 50px;
}

.left-baja {
	display: grid;
	justify-self: center;
	align-self: center;
}

/* ! -----  producto.html */

/* 
.collapse #productos-lista {
	visibility: visible !important;
}
div #productos-lista-imagen {
	visibility: collapse;
}

div #productos-cuadricula {
	visibility: collapse;
} 
*/

.table-hover tbody tr:hover {
	background-color: #dc35461a !important;
	color: #dc3545;
}

.table-whit-images {
	display: flex;
	flex-flow: column nowrap;
}

.table-head {
	height: 50px;
	background-color: #dc3545 !important;
	color: #eee;
	font-weight: bolder;
}

.table-row {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 1px solid #aaa;
}

.table-body .table-row:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-body .table-row:hover {
	background-color: #dc35461a !important;
	color: #dc3545;
}

.table-cell {
	padding: 2px 5px;
	align-items: center;
	text-align: center;
}

.table-row .size-id {
	width: 175px;
	/* height: 100px; */
}

.table-row .size-ean {
	width: 125px;
	/* height: 100px; */
}

.table-row .size-product {
	width: 200px;
	/* height: 100px; */
}

.table-head .table-row .size-description {
	width: 30vw;
	height: 40px;
	line-height: 35px;
	overflow: unset;
}

.table-row .size-description {
	width: 30vw;
	height: 200px;
	overflow: scroll;
}

.table-row .size-image {
	width: 125px;
}

.table-row .size-buttons {
	width: 100px;
	display: flex;
	flex-flow: column nowrap;
}

.btn-image {
	width: 40px;
	height: 40px;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	cursor: pointer;
}

.btn-image:hover {
	position: relative;
	top: -3px;
	text-decoration: none;
}

.btn-information {
	background-color: #007bff;
	color: #ddd;
	font-size: 20px;
}

.btn-amazon {
	background-color: #333;
	color: #ddd;
	font-size: 23px;
}

.btn-mercado {
	background-color: #fff159;
	color: #444;
	font-size: 21px;
}

.btn-cart {
	background-color: #dc3545;
	color: #eee;
	font-size: 20px;
}

/* ! ----- Producto_detalle.html */

#producto-detalle .producto-descLarga {
	width: 100%;
	height: 25vh;
	overflow: scroll;
}

#productos-lista-detalle tbody tr th img {
	width: 65px;
	height: 65px;
}

#hero .animate .slide-up {
	animation: slide-up 1s forwards 0.5s linear;
}
@keyframes slide-up {
	0% {
		transform: translateY(-20%);
		opacity: 0;
	}
	100% {
		transform: rotate(xx) translateY(0);
		opacity: 1;
		color: #ddd;
	}
}

#hero .animate .slide-left {
	animation: slide-left 2s forwards 2s ease-in;
}
@keyframes slide-left {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#hero .animate .slide-right {
	animation: slide-right 2s forwards 2s ease-in;
}
@keyframes slide-right {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (max-width: 991.98px) {
	#nav-container .navbar-nav li > a {
		border-radius: 0;
	}
	#nav-container .navbar-nav li.active > a {
		border-radius: 0;
	}

	.display-4 {
		font-size: 3em;
	}

	.market {
		width: 95%;
		max-width: 1280px;
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
			"market-item market-item market-item"
			"market-promo1 market-promo1 market-promo1"
			"market-promo2 market-promo2 market-promo2"
			"market-mercado market-amazon market-ita";
		align-content: center;
	}

	.market-ecomerce {
		grid-gap: 5px;
		grid-template-areas:
			"market-ita"
			"market-amazon";
		align-content: center;
	}

	.carousel-image {
		width: 90%;
		height: auto;
		object-fit: contain;
	}

	.image-cover {
		height: auto;
		width: 90vw;
		object-fit: contain;
	}

	.image-producto-detalle {
		height: auto;
		width: 90vw;
		object-fit: contain;
	}

	.table-whit-images {
		width: 100vw;
		flex-flow: row nowrap;
		overflow: scroll;
	}

	.table-head {
		height: auto;
		width: 120px;
	}

	.table-body {
		display: flex;
		flex-flow: row nowrap;
	}

	.table-row {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.table-cell {
		width: 50vw;
		text-align: left;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	.table-row .size-id {
		display: block;
		width: 100%;
	}

	.table-row .size-ean {
		display: block;
		width: 100%;
	}

	.table-row .size-product {
		display: block;
		width: 100%;
	}

	.table-head .table-row .size-description {
		display: block;
		width: 100%;
		height: 30vh;
		overflow: unset;
	}

	.table-row .size-description {
		display: block;
		width: 100%;
		height: 30vh;
		overflow: scroll;
	}

	.table-row .size-image {
		display: block;
		width: 100%;
		height: 125px;
	}

	.table-row .size-buttons {
		display: block;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.hero-baja {
		height: 90vh;
		margin: 0;
	}
	/* 
	.hero-baja .left-baja .display-4 {
		font-size: 48px !important;
	}

	.hero-baja .left-baja .lead {
		font-size: 16px !important;
	} */

	.hero-baja .right-baja .hero-image img {
		width: 350px;
	}

	.bg2 {
		-webkit-clip-path: polygon(73% 73%, 100% 9%, 100% 100%, -45% 100%);
		clip-path: polygon(73% 73%, 100% 9%, 100% 100%, -45% 100%);
	}
}

a,
a:hover,
a:active {
	text-decoration: none !important;
	color: #eee;
}
